{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    {% if entries %}
        <table style="width:30%">
            <tr>
                <th>Title</th>
                <th>Summary</th>
            </tr>
            {% for entry in entries %}
                <tr>
                    <td><a href="{% url 'wiki:entry' entry.title %}">{{ entry.title }}</a></td>
                    <td>{{ entry.summary }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        Found no pages
    {% endif %}

{% endblock %}