{% extends "encyclopedia/layout.html" %}

{% block body %}
    <h1>Add Entry:</h1>

    {% if message %}
        <script>
            alert('{{ message }}');
        </script>
    {% endif %}

    <form action="{% url 'wiki:new_page' %}" method="post">
        {% csrf_token %}
        <div class="row">{{ form.title }}</div>
        <div class="row">{{ form.content }}</div>
        <div class="row">
            <input type="submit" placeholder="Add" title="Add" value="Add">
        </div>
    </form>
    <div class="row">
        <a href="{% url 'wiki:index' %}">View Pages</a>
    </div>
{% endblock %}